

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SynergyCloud Social Map</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootstrap-responsive.min.css" rel="stylesheet">


    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
    </style>
    <script src="http://code.jquery.com/jquery-1.5.2.min.js"></script>
    <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBdiSflf9kIwXQEQmCA_TfhJCeY0kafbIs&sensor=true">
    </script>
    <script type="text/javascript">
   
  $(document).ready(function() {
    var latlng = new google.maps.LatLng(39.8106460, -98.5569760);

    var myOptions = {
      zoom: 4,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }

    map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
  });


  function initialize() {
    var latlng = new google.maps.LatLng(39.8106460, -98.5569760);

    var myOptions = {
      zoom: 4,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }

    map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
  }

  </script>
  </head>
  <body>
  <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">SynergyCloud Social Map</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

     <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>SynergyCloud Social Map</h1>
        <p>Synergized, cloud-based, social media marketing solution.<br /><br />Revitalize. Connect. Solutionize.</p>
      </div>
      </div>

      <div id="map_canvas" style="width: 80%; height: 80%; margin-left: 10%; padding-bottom: 20px;"></div> 

</body>
</html>