{% extends "base.html" %}
{% block title %}
SyngeryCloud Social Map
{% endblock %}
{% block content %}
<br />
<br />
<br />
<br />
     <div class="container">
      <div class="hero-unit">
        <h1>SynergyCloud Social Map</h1><br />
        <h4>Synergized, cloud-based, social media marketing solution.</h4><br /><br />
        <p>Revitalize. Connect. Solutionize.<br />In our busy lives, what more could one want other than to streamline their workflow? Meet SynergyCloud Social Map. (Don't worry, it doesn't bite)</p>
        <p>Your on the go. We get it. Revitalize the things you once thought were think-worthy. Inspire those around you to greatnesty. Be the synergy. </p>
        <p>We invite you to take a look around. Slip into something comfortable. Take off your shoes. Strike up a conversation with us about the oak mahagony coffee table you've oogled since you've walked in. Let your eyes wander to the book on large African cats lying affine to the afghan given to us by a Peruvian monk.</p>
        <p>That's right. You're home</p> 
      </div>

      <div class="row">
        <div class="span4">
          <blockquote>
            <p>I'd lost my synergy. SynergyCloud Social Map gave it back to me</p>
            <small>Martin Luther King, Jr.</small>
            </blockquote>
        </div>
        <div class="span4 pull-right">
        <blockquote>
            <p>I'd lost the cloud. I needed the cloud. I got the cloud. Thank You, SynergyCloud Social Map.</p>
            <small>Mother Theresa</small>
            </blockquote>
        </div>
      </div>
{% endblock %}